button.drum {
  width: 30%;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  margin: 2px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  letter-spacing: 1px;
  transition: 0.03s;
}

button.drum.pressed {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.4);
}
