.App {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
}
.wrapper h1 {
  margin: 0 0 20px 0;
}

.drums {
  width: 95%;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 4%;
}
